# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
aclocal.m4
.deps
depcomp
stamp-h1
install-sh
libtool
ltmain.sh
missing
ylwrap
config.h
cmakeconfig.h
config.guess
config.log
config.status
config.sub
configure
yfs/Makefile
yfs/build/Makefile
yfs/cds/Makefile
yfs/include/Makefile
yfs/tests/Makefile
yfs/utils/Makefile
yftp/Makefile
yftp/include/Makefile
yftp/src/Makefile
yiscsi/Makefile
yiscsi/include/Makefile
yiscsi/src/Makefile
yfuse/Makefile
yfuse/include/Makefile
yfuse/src/Makefile
yfuse/src/yfuse
ylib/Makefile
ylib/include/Makefile
ylib/lib/Makefile
ylib/tests/Makefile
ynet/Makefile
ynet/build/Makefile
ynet/include/Makefile
ynet/tests/Makefile
ynfs/Makefile
ynfs/include/Makefile
ynfs/src/Makefile
yweb/Makefile
yweb/include/Makefile
yweb/src/Makefile
ylib/lib/confl.c
ylib/lib/confy.c
ylib/lib/confy.h
yweb/src/mime_encodings.h
yweb/src/mime_types.h
test/Makefile
test/src/Makefile
proxy/Makefile
proxy/include/Makefile
proxy/src/Makefile
proxy/src/proxy_client
proxy/src/proxy_server



*.o
*.lo
*.diff
get_version.h
.libs
*.la
autom4te.cache
cscope.*
lookup.db
Makefile.in
yfs/cds/yfs_cds
yfs/tests/yfs_sanity
yfs/utils/cmd
yfs/utils/jnlfind
yfs/utils/ycdsfsck
yfs/utils/ychkstat
yfs/utils/ychmod
yfs/utils/ychunk_merge
yfs/utils/ycompact
yfs/utils/ycp
yfs/utils/yfsck
yfs/utils/ylogin
yfs/utils/yls
yfs/utils/ylvm
yfs/utils/ylun
yfs/utils/ymkdir
yfs/utils/ypasswd
yfs/utils/yping
yfs/utils/yrecover
yfs/utils/yrecycle
yfs/utils/yrep
yfs/utils/yrmdir
yfs/utils/ysetopt
yfs/utils/yshutdown
yfs/utils/ystat
yfs/utils/ystatchk
yfs/utils/ystatvfs
yfs/utils/ytruncate
yfs/utils/yuser
yftp/src/yftp_server
yiscsi/src/yiscsi_server
ylib/tests/array_test
ylib/tests/cache_test
ylib/tests/crc32
ylib/tests/path
ylib/tests/sha1
ylib/tests/skiplist_test
ylib/tests/splice
ynfs/src/ynfs_server
yweb/src/yweb_server
test/src/test_skiplist
test/src/ynfs_functest
parser/Makefile
parser/include/Makefile
parser/lib/confl.c
parser/lib/confy.c
parser/lib/confy.h
test/src/test_bitmap
test/src/ynfs_iotest
diff.sh
make.sh
*.swp
*.diff
tags
filenametags
c60d/Makefile
c60d/src/Makefile
c60d/src/c60d
parser/lib/Makefile
parser/lib/confl.c
parser/lib/confy.c
parser/lib/confy.h
test/src/Makefile.am.rej
test/src/test_bitmap
test/src/ynfs_iotest
GPATH
GRTAGS
GSYMS
GTAGS
gdb
run
.cache_file
yfs/utils/ychunk_check
yfs/utils/yread_mdsjnl
ylib/tests/heap_test
proxy/utils/Makefile
proxy/utils/ycp
yfs/utils/ychk_rep_check
yfs/utils/ychktable_print
yfs/utils/rebuild_cdsjnl
yfs/utils/ycheck_chkrep
yfs/utils/newrep
ynet/tests/msgqueue_cp
ynet/tests/msgqueue_read
ynet/tests/msgqueue_write
ylib/tests/itab_test
yfs/utils/yrm
yfs/utils/ffc
yfs/utils/mds_deletedjnl
*.beam
*.dump
*.pyc
yfs/utils/ysync_mdsjnl
pcss/.project
pcss/.pydevproject
pcss/.settings
yfs/utils/cdsop_read
yfs/utils/rebuild_file
proxy/utils/bigfile
cifs/Makefile
cifs/include/Makefile
cifs/src/Makefile
cifs/src/cifs_server
proxy/kvm
*~
.#*
yfs/utils/recycle
test/src/aio_sync_test
proxy/utils/ydalloc
yfs/utils/repcheck
samba-*
*.h.in
yfs/utils/yattr
cmd_test
*_test
test/src/testlock
yfs/utils/snap_rollback
ynfs/src/nlm_server
proxy/utils/yiops
proxy/utils/iops
yfs/utils/ychkcp
yfs/cds/rjnld
yfs/utils/objck
yfs/utils/mdsop_read
.emacs*
yiscsi/Makefile
yiscsi/include/Makefile
yiscsi/src/Makefile
yiscsi/src/yiscsi_server
proxy/utils/uss.*
*.beam
proxy/utils/uss.cp
yfs/utils/uss.du
yfs/utils/uss.ls
yfs/utils/uss.mkdir
yfs/utils/uss.mv
yfs/utils/uss.ns
yfs/utils/uss.rm
yfs/utils/uss.rmdir
yfs/utils/uss.stat
yfs/utils/uss.touch
yfs/utils/uss.truncate
yfs/utils/uss.cdstat
yfs/utils/uss.ytgtadm
yfs/utils/uss.mdsdrop
yfs/utils/uss.mdstat
yfs/utils/uss.objck
*.so
*.app
cherry.mds
proxy/utils/ioperf
yfs/utils/uss.attr
yfs/utils/uss.chkstat
yfs/utils/uss.clone
yfs/utils/uss.fallocate
yfs/utils/uss.ffc
yfs/utils/uss.hsm
yfs/utils/uss.license
yfs/utils/uss.md5sum
yfs/utils/uss.sysop
yfs/utils/uss.tgtadm
yfs/utils/uss.balance
build/
cmakebuild
